.footer b {
  font-family: Sans-serif;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30%;
  padding-top: 30%;
}

.footer a {
  color: black;
  padding: 0px 0px 0px 0px;
  font-size: 15px;
  margin-left: 0px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.box {
  background-color: black;
  height: 25px;
  width: 100%;
  float: left;
}
.box1 {
  background-color: black;
  height: 0.5px;
  width: 100%;
  float: left;
}
/*#f6c1bc