* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

.main_wrapper {
    background: #ffffff;
    margin: auto;
    margin-top: 5%;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.form_wrapper {
    width: 60%;
    margin:auto;
}

.form_wrapper h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

input {
    width: 100%;
    margin-top: 4%;
    font: inherit;
    padding: 1%;
}

#submit {
    width: 30%;
    margin-bottom: 10%;
}